@import './common.css';

.vuiii-button {
  --fontSize: var(--vuiii-button-fontSize);
  --fontFamily: var(--vuiii-button-fontFamily);
  --fontWeight: var(--vuiii-button-fontWeight);
  --height: var(--vuiii-button-height);
  --padding: var(--vuiii-button-padding);
  --borderRadius: var(--vuiii-button-borderRadius);
  --ringSize: 0;

  --bgColor: var(--vuiii-button-bgColor);
  --borderColor: var(--vuiii-button-borderColor);
  --textColor: var(--vuiii-button-textColor);
  --borderWidth: var(--vuiii-button-borderWidth);
  --shadow: var(--vuiii-button-shadow, 0 0);
  --transition: var(--vuiii-button-transition);
  --ringColor: var(--vuiii-button-ringColor);
  --gap: 0.5rem;
  --iconColor: var(--vuiii-button-iconColor, currentColor);

  appearance: none;
  display: inline-flex;
  gap: var(--gap);
  align-items: center;
  align-self: center;
  justify-content: center;
  padding: 0 var(--padding);
  min-height: var(--height);
  cursor: pointer;
  font-size: var(--fontSize, inherit);
  font-weight: var(--fontWeight, normal);
  font-family: var(--fontFamily, inherit);
  outline: none;
  user-select: none;
  border-radius: var(--borderRadius);
  box-shadow:
    0 0 0 var(--ringSize) var(--ringColor),
    var(--shadow);
  transition: var(--transition);
  position: relative;
  background-color: var(--bgColor);
  border: var(--borderWidth) solid var(--borderColor);
  color: var(--textColor);
  inline-size: fit-content;
  touch-action: manipulation;
  text-decoration: none;

  /* Focus state */

  --bgColor--focus: var(--vuiii-button-bgColor--focus, var(--vuiii-button-bgColor));
  --borderColor--focus: var(--vuiii-button-borderColor--focus, var(--vuiii-button-borderColor));
  --textColor--focus: var(--vuiii-button-textColor--focus, var(--vuiii-button-textColor));

  &:focus-visible:not(:disabled):not(.vuiii-button--disabled) {
    color: var(--textColor--focus);
    border-color: var(--borderColor--focus);
    background-color: var(--bgColor--focus);

    --ringSize: var(--vuiii-button-ringSize);
  }

  /* Hover state */

  --bgColor--hover: var(--vuiii-button-bgColor--hover, var(--vuiii-button-bgColor));
  --borderColor--hover: var(--vuiii-button-borderColor--hover, var(--vuiii-button-borderColor));
  --textColor--hover: var(--vuiii-button-textColor--hover, var(--vuiii-button-textColor));

  &:hover:not(:disabled):not(.vuiii-button--disabled) {
    color: var(--textColor--hover);
    border-color: var(--borderColor--hover);
    background-color: var(--bgColor--hover);
  }

  /* Disabled state */

  &&:disabled,
  &.vuiii-button--disabled {
    pointer-events: none;
    opacity: var(--vuiii-button-opacity--disabled);
  }

  /* Sizes */

  &.vuiii-button--size-small {
    --gap: 0.5rem;
    --fontSize: var(--vuiii-button-fontSize--small);
    --height: var(--vuiii-button-height--small);
    --padding: var(--vuiii-button-padding--small);

    &:focus:not(:disabled) {
      --ringSize: var(--vuiii-button-ringSize--small, var(--vuiii-button-ringSize));
    }
  }

  &.vuiii-button--size-large {
    --gap: 0.75rem;
    --fontSize: var(--vuiii-button-fontSize--large);
    --height: var(--vuiii-button-height--large);
    --padding: var(--vuiii-button-padding--large);
  }

  /* Variants */

  &.vuiii-button--variant-primary {
    --bgColor: var(--vuiii-button-bgColor--primary);
    --textColor: var(--vuiii-button-textColor--primary);
    --borderColor: var(--vuiii-button-borderColor--primary);
    --ringColor: var(--vuiii-button-ringColor--primary);

    --bgColor--focus: var(--vuiii-button-bgColor--primary--focus, var(--bgColor));
    --textColor--focus: var(--vuiii-button-textColor--primary--focus, var(--textColor));
    --borderColor--focus: var(--vuiii-button-borderColor--primary--focus, var(--borderColor));

    --bgColor--hover: var(--vuiii-button-bgColor--primary--hover, var(--bgColor));
    --textColor--hover: var(--vuiii-button-textColor--primary--hover, var(--textColor));
    --borderColor--hover: var(--vuiii-button-borderColor--primary--hover, var(--borderColor));

    &.vuiii-button--outlined {
      --textColor: var(--vuiii-button-textColor--primary--outlined, var(--vuiii-button-bgColor--primary));
      --borderColor: var(--vuiii-button-borderColor--primary--outlined, var(--vuiii-button-bgColor--primary));

      --textColor--focus: var(--vuiii-button-textColor--primary--outlined--focus, var(--vuiii-button-bgColor--primary));
      --borderColor--focus: var(
        --vuiii-button-borderColor--primary--outlined--focus,
        var(--vuiii-button-bgColor--primary)
      );

      --textColor--hover: var(
        --vuiii-button-textColor--primary--outlined--hover,
        var(--vuiii-button-bgColor--primary--hover)
      );
      --borderColor--hover: var(--vuiii-button-borderColor--primary--outlined--hover, var(--textColor--hover));
    }
  }

  &.vuiii-button--variant-secondary {
    --bgColor: var(--vuiii-button-bgColor--secondary);
    --borderColor: var(--vuiii-button-borderColor--secondary);
    --textColor: var(--vuiii-button-textColor--secondary);
    --ringColor: var(--vuiii-button-ringColor--secondary);

    --bgColor--focus: var(--vuiii-button-bgColor--secondary--focus, var(--bgColor));
    --textColor--focus: var(--vuiii-button-textColor--secondary--focus, var(--textColor));
    --borderColor--focus: var(--vuiii-button-borderColor--secondary--focus, var(--borderColor));

    --bgColor--hover: var(--vuiii-button-bgColor--secondary--hover, var(--bgColor));
    --textColor--hover: var(--vuiii-button-textColor--secondary--hover, var(--textColor));
    --borderColor--hover: var(--vuiii-button-borderColor--secondary--hover, var(--borderColor));

    &.vuiii-button--outlined {
      --textColor: var(--vuiii-button-textColor--secondary--outlined, var(--vuiii-button-bgColor--secondary));
      --borderColor: var(--vuiii-button-borderColor--secondary--outlined, var(--vuiii-button-bgColor--secondary));

      --textColor--focus: var(--vuiii-button-textColor--secondary--outlined, var(--vuiii-button-bgColor--secondary));
      --borderColor--focus: var(
        --vuiii-button-borderColor--secondary--outlined,
        var(--vuiii-button-bgColor--secondary)
      );

      --textColor--hover: var(
        --vuiii-button-textColor--secondary--outlined--hover,
        var(--vuiii-button-bgColor--secondary--hover)
      );
      --borderColor--hover: var(--vuiii-button-borderColor--secondary--outlined--hover, var(--textColor--hover));
    }
  }

  &.vuiii-button--variant-danger {
    --bgColor: var(--vuiii-button-bgColor--danger);
    --textColor: var(--vuiii-button-textColor--danger);
    --borderColor: var(--vuiii-button-borderColor--danger);
    --ringColor: var(--vuiii-button-ringColor--danger);

    --bgColor--focus: var(--vuiii-button-bgColor--danger--focus, var(--bgColor));
    --textColor--focus: var(--vuiii-button-textColor--danger--focus, var(--textColor));
    --borderColor--focus: var(--vuiii-button-borderColor--danger--focus, var(--borderColor));

    --bgColor--hover: var(--vuiii-button-bgColor--danger--hover, var(--bgColor));
    --textColor--hover: var(--vuiii-button-textColor--danger--hover, var(--textColor));
    --borderColor--hover: var(--vuiii-button-borderColor--danger--hover, var(--borderColor));

    &.vuiii-button--outlined {
      --textColor: var(--vuiii-button-textColor--danger--outlined, var(--vuiii-button-bgColor--danger));
      --borderColor: var(--vuiii-button-borderColor--danger--outlined, var(--vuiii-button-bgColor--danger));

      --textColor--focus: var(--vuiii-button-textColor--danger--outlined, var(--vuiii-button-bgColor--danger));
      --borderColor--focus: var(--vuiii-button-borderColor--danger--outlined, var(--vuiii-button-bgColor--danger));

      --textColor--hover: var(
        --vuiii-button-textColor--danger--outlined--hover,
        var(--vuiii-button-bgColor--danger--hover)
      );
      --borderColor--hover: var(--vuiii-button-borderColor--danger--outlined--hover, var(--textColor--hover));
    }
  }

  &.vuiii-button--variant-success {
    --bgColor: var(--vuiii-button-bgColor--success);
    --textColor: var(--vuiii-button-textColor--success);
    --borderColor: var(--vuiii-button-borderColor--success);
    --ringColor: var(--vuiii-button-ringColor--success);

    --bgColor--focus: var(--vuiii-button-bgColor--success--focus, var(--bgColor));
    --textColor--focus: var(--vuiii-button-textColor--success--focus, var(--textColor));
    --borderColor--focus: var(--vuiii-button-borderColor--success--focus, var(--borderColor));

    --bgColor--hover: var(--vuiii-button-bgColor--success--hover, var(--bgColor));
    --textColor--hover: var(--vuiii-button-textColor--success--hover, var(--textColor));
    --borderColor--hover: var(--vuiii-button-borderColor--success--hover, var(--borderColor));

    &.vuiii-button--outlined {
      --textColor: var(--vuiii-button-textColor--success--outlined, var(--vuiii-button-bgColor--success));
      --borderColor: var(--vuiii-button-borderColor--success--outlined, var(--vuiii-button-bgColor--success));

      --textColor--focus: var(--vuiii-button-textColor--success--outlined, var(--vuiii-button-bgColor--success));
      --borderColor--focus: var(--vuiii-button-borderColor--success--outlined, var(--vuiii-button-bgColor--success));

      --textColor--hover: var(
        --vuiii-button-textColor--success--outlined--hover,
        var(--vuiii-button-bgColor--success--hover)
      );
      --borderColor--hover: var(--vuiii-button-borderColor--success--outlined--hover, var(--textColor--hover));
    }
  }

  /* Outlined */

  &.vuiii-button--outlined {
    --bgColor: transparent;
    --bgColor--focus: transparent;
    --bgColor--hover: transparent;
  }

  /* Block */

  &.vuiii-button--block {
    width: 100%;
  }

  /* Pill */

  &.vuiii-button--pill {
    --borderRadius: 9999px;
  }
}

.vuiii-button__icon {
  color: var(--iconColor);

  &.vuiii-button--outlined {
    --iconColor: var(--textColor);
  }
}

.vuiii-button__icon:first-child {
  margin-left: -0.25rem;
}

.vuiii-button__icon:last-child {
  margin-right: -0.25rem;
}
