:root {
  /* ------ */
  /* Colors */
  /* ------ */

  --vuiii-color-white: white;
  --vuiii-color-black: black;

  --vuiii-color-light: var(--vuiii-color-white);
  --vuiii-color-dark: var(--vuiii-color-black);

  --vuiii-color-gray: rgb(212 212 216); /* neutral.300 */
  --vuiii-color-gray--light: rgb(229 229 229); /* neutral.200 */
  --vuiii-color-gray--lighter: rgb(245 245 245); /* neutral.100 */
  --vuiii-color-gray--lightest: rgb(250 250 250); /* neutral.50 */
  --vuiii-color-gray--dark: rgb(163 163 163); /* neutral.400 */
  --vuiii-color-gray--darker: rgb(115 115 115); /* neutral.500 */
  --vuiii-color-gray--darkest: rgb(82 82 82); /* neutral.600 */

  --vuiii-color-primary: rgb(79 70 229); /* indigo.600 */
  --vuiii-color-primary--darker: color-mix(in srgb, var(--vuiii-color-primary) 95%, black);
  --vuiii-color-primary--darkest: color-mix(in srgb, var(--vuiii-color-primary) 85%, black);

  --vuiii-color-danger: rgb(225 29 72); /* rose.600 */
  --vuiii-color-danger--darker: color-mix(in srgb, var(--vuiii-color-danger) 95%, black);

  --ui-color-warning: rgb(234, 179, 8); /* amber.400 */
  --ui-color-warning--darker: color-mix(in srgb, var(--ui-color-warning) 95%, black);

  --vuiii-color-success: rgb(77 124 15); /* lime.700 */
  --vuiii-color-success--darker: color-mix(in srgb, var(--vuiii-color-success) 95%, black);

  --vuiii-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --vuiii-shadow--large: 0 2px 15px 0 rgb(0 0 0/0.2), 0 1px 2px -1px rgb(0 0 0/0.1);

  /* ---------- */
  /* Typography */
  /* ---------- */

  /* Tokens */

  --vuiii-typeface-body: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --vuiii-typeface-display: var(--vuiii-typeface-body);

  --vuiii-fontSize: 1rem;
  --vuiii-fontSize--tiny: calc(var(--vuiii-fontSize) * 0.75);
  --vuiii-fontSize--small: calc(var(--vuiii-fontSize) * 0.85);
  --vuiii-fontSize--large: calc(var(--vuiii-fontSize) * 1.25);
  --vuiii-fontSize--x-large: calc(var(--vuiii-fontSize) * 1.5);
  --vuiii-fontSize--2x-large: calc(var(--vuiii-fontSize) * 2);
  --vuiii-fontSize--3x-large: calc(var(--vuiii-fontSize) * 3);
  --vuiii-fontSize--4x-large: calc(var(--vuiii-fontSize) * 4);

  /* Headings */

  --vuiii-typography-display-fontSize: var(--vuiii-fontSize--4x-large);
  --vuiii-typography-display-fontWeight: 600;
  --vuiii-typography-display-lineHeight: 1.2;
  --vuiii-typography-display-textTransform: none;
  --vuiii-typography-display-color: inherit;
  --vuiii-typography-display-opacity: 1;

  --vuiii-typography-heading1-fontSize: var(--vuiii-fontSize--2x-large);
  --vuiii-typography-heading1-fontWeight: 600;
  --vuiii-typography-heading1-lineHeight: 1.2;
  --vuiii-typography-heading1-textTransform: none;
  --vuiii-typography-heading1-color: inherit;
  --vuiii-typography-heading1-opacity: 1;

  --vuiii-typography-heading2-fontSize: var(--vuiii-fontSize--large);
  --vuiii-typography-heading2-fontWeight: 600;
  --vuiii-typography-heading2-lineHeight: 1.2;
  --vuiii-typography-heading2-textTransform: none;
  --vuiii-typography-heading2-color: inherit;
  --vuiii-typography-heading2-opacity: 1;

  --vuiii-typography-heading3-fontSize: var(--vuiii-fontSize);
  --vuiii-typography-heading3-fontWeight: 600;
  --vuiii-typography-heading3-lineHeight: 1.2;
  --vuiii-typography-heading3-textTransform: none;
  --vuiii-typography-heading3-color: inherit;
  --vuiii-typography-heading3-opacity: 1;

  --vuiii-typography-heading4-fontSize: var(--vuiii-fontSize--small);
  --vuiii-typography-heading4-fontWeight: 600;
  --vuiii-typography-heading4-lineHeight: 1.2;
  --vuiii-typography-heading4-textTransform: none;
  --vuiii-typography-heading4-color: inherit;
  --vuiii-typography-heading4-opacity: 1;

  --vuiii-typography-heading5-fontSize: var(--vuiii-fontSize--tiny);
  --vuiii-typography-heading5-fontWeight: 600;
  --vuiii-typography-heading5-lineHeight: 1.2;
  --vuiii-typography-heading5-textTransform: none;
  --vuiii-typography-heading5-color: inherit;
  --vuiii-typography-heading5-opacity: 1;

  --vuiii-typography-heading6-fontSize: var(--vuiii-fontSize--tiny);
  --vuiii-typography-heading6-fontWeight: 400;
  --vuiii-typography-heading6-lineHeight: 1.2;
  --vuiii-typography-heading6-textTransform: none;
  --vuiii-typography-heading6-color: inherit;
  --vuiii-typography-heading6-opacity: 1;

  /* Body text */
  --vuiii-typography-body1-fontSize: var(--vuiii-fontSize);
  --vuiii-typography-body1-fontWeight: 400;
  --vuiii-typography-body1-lineHeight: 1.2;
  --vuiii-typography-body1-textTransform: none;
  --vuiii-typography-body1-color: inherit;
  --vuiii-typography-body1-opacity: 1;

  --vuiii-typography-body2-fontSize: var(--vuiii-fontSize);
  --vuiii-typography-body2-fontWeight: 400;
  --vuiii-typography-body2-lineHeight: 1.2;
  --vuiii-typography-body2-textTransform: none;
  --vuiii-typography-body2-color: inherit;
  --vuiii-typography-body2-opacity: 0.65;

  /* Caption */
  --vuiii-typography-caption-fontSize: var(--vuiii-fontSize--tiny);
  --vuiii-typography-caption-fontWeight: 400;
  --vuiii-typography-caption-lineHeight: 1.2;
  --vuiii-typography-caption-textTransform: uppercase;
  --vuuii-typography-caption-letterSpacing: 0.1em;
  --vuiii-typography-caption-color: inherit;
  --vuiii-typography-caption-opacity: 0.65;

  /* Labels */
  --vuiii-typography-label-fontSize: var(--vuiii-fontSize--small);
  --vuiii-typography-label-fontWeight: 600;
  --vuiii-typography-label-lineHeight: 1.2;
  --vuiii-typography-label-textTransform: none;
  --vuiii-typography-label-color: inherit;
  --vuiii-typography-label-opacity: 1;

  /* Description */
  --vuiii-typography-description-fontSize: var(--vuiii-fontSize--tiny);
  --vuiii-typography-description-fontWeight: 400;
  --vuiii-typography-description-lineHeight: 1.2;
  --vuiii-typography-description-textTransform: none;
  --vuiii-typography-description-color: inherit;
  --vuiii-typography-description-opacity: 0.65;

  /* ------ */
  /* Fields */
  /* ------ */

  --vuiii-field-height: 2.5em;
  --vuiii-field-padding: 1.35em;
  --vuiii-field-borderRadius: 0.25em;
  --vuiii-field-fontSize: var(--vuiii-fontSize);

  --vuiii-field-borderWidth: 1px;
  --vuiii-field-bgColor: var(--vuiii-color-white);
  --vuiii-field-borderColor: var(--vuiii-color-gray);
  --vuiii-field-ringColor: color-mix(in srgb, var(--vuiii-color-gray--dark) 10%, transparent);
  --vuiii-field-ringSize: 0.25em;

  --vuiii-field-borderColor--active: var(--vuiii-color-gray--dark);
  --vuiii-field-borderColor--focus: var(--vuiii-color-gray--dark);
  --vuiii-field-borderColor--invalid: var(--vuiii-color-danger);

  --vuiii-field-transition: all 0.05s ease-in-out;
  --vuiii-field-opacity--disabled: 0.6;

  /* Sizes */

  --vuiii-field-height--small: var(--vuiii-field-height);
  --vuiii-field-padding--small: var(--vuiii-field-padding);
  --vuiii-field-borderRadius--small: var(--vuiii-field-borderRadius);
  --vuiii-field-fontSize--small: var(--vuiii-fontSize--small);
  --vuiii-field-ringSize--small: var(--vuiii-field-ringSize);

  --vuiii-field-height--large: var(--vuiii-field-height);
  --vuiii-field-padding--large: var(--vuiii-field-padding);
  --vuiii-field-borderRadius--large: var(--vuiii-field-borderRadius);
  --vuiii-field-fontSize--large: var(--vuiii-fontSize--large);
  --vuiii-field-ringSize--large: var(--vuiii-field-ringSize);

  /* ––––––– */
  /* Buttons */
  /* ––––––– */

  --vuiii-button-fontSize: var(--vuiii-field-fontSize);
  --vuiii-button-fontFamily: var(--vuiii-typeface-body);
  --vuiii-button-fontWeight: normal;
  --vuiii-button-height: var(--vuiii-field-height);
  --vuiii-button-padding: var(--vuiii-field-padding);
  --vuiii-button-borderRadius: var(--vuiii-field-borderRadius);
  --vuiii-button-ringSize: var(--vuiii-field-ringSize);

  --vuiii-button-borderWidth: var(--vuiii-field-borderWidth);
  --vuiii-button-transition: var(--vuiii-field-transition);
  --vuiii-button-opacity--disabled: var(--vuiii-field-opacity--disabled);

  /* Sizes */

  --vuiii-button-fontSize--small: var(--vuiii-field-fontSize);
  --vuiii-button-height--small: var(--vuiii-field-height--small);
  --vuiii-button-padding--small: var(--vuiii-field-padding--small);
  --vuiii-button-borderRadius--small: var(--vuiii-field-borderRadius--small);
  --vuiii-button-ringSize-small: var(--vuiii-field-ringSize--small);

  --vuiii-button-fontSize--large: var(--vuiii-field-fontSize--large);
  --vuiii-button-height--large: var(--vuiii-field-height--large);
  --vuiii-button-padding--large: var(--vuiii-field-padding--large);
  --vuiii-button-borderRadius--large: var(--vuiii-field-borderRadius--large);
  --vuiii-button-ringSize-large: var(--vuiii-field-ringSize--large);

  /* Default button */

  --vuiii-button-bgColor: transparent;
  --vuiii-button-borderColor: var(--vuiii-button-bgColor);
  --vuiii-button-borderColor--focus: var(--vuiii-button-borderColor);
  --vuiii-button-textColor: var(--vuiii-color-primary);
  --vuiii-button-ringColor: color-mix(in srgb, var(--vuiii-color-primary) 10%, transparent);

  --vuiii-button-bgColor--hover: transparent;
  --vuiii-button-borderColor--hover: var(--vuiii-button-bgColor--hover);
  --vuiii-button-textColor--hover: var(--vuiii-color-primary--darker);

  --vuiii-button-textColor--focus: var(--vuiii-color-primary--darker);

  /* Primary button variant */

  --vuiii-button-bgColor--primary: var(--vuiii-color-primary);
  --vuiii-button-borderColor--primary: var(--vuiii-button-bgColor--primary);
  --vuiii-button-textColor--primary: white;
  --vuiii-button-ringColor--primary: color-mix(in srgb, var(--vuiii-color-primary) 10%, transparent);

  --vuiii-button-bgColor--primary--hover: var(--vuiii-color-primary--darker);

  --vuiii-button-textColor--primary--outlined--hover: var(--vuiii-color-primary--darkest);

  /* Secondary button variant */

  --vuiii-button-bgColor--secondary: var(--vuiii-color-gray--light);
  --vuiii-button-borderColor--secondary: var(--vuiii-button-bgColor--secondary);
  --vuiii-button-textColor--secondary: var(--vuiii-color-gray--darkest);
  --vuiii-button-ringColor--secondary: color-mix(in srgb, var(--vuiii-color-gray--darker) 10%, transparent);

  --vuiii-button-bgColor--secondary--hover: var(--vuiii-color-gray);
  --vuiii-button-textColor--secondary--hover: var(--vuiii-color-black);

  --vuiii-button-bgColor--secondary--outlined: var(--vuiii-color-gray--darker);
  --vuiii-button-textColor--secondary--outlined: var(--vuiii-color-gray--darker);

  --vuiii-button-textColor--secondary--outlined--hover: var(--vuiii-color-gray--darkest);

  /* Danger button variant */

  --vuiii-button-bgColor--danger: var(--vuiii-color-danger);
  --vuiii-button-textColor--danger: white;
  --vuiii-button-borderColor--danger: var(--vuiii-color-danger);
  --vuiii-button-ringColor--danger: color-mix(in srgb, var(--vuiii-color-danger) 10%, transparent);

  --vuiii-button-bgColor--danger--hover: var(--vuiii-color-danger--darker);

  /* Success button variant */

  --vuiii-button-bgColor--success: var(--vuiii-color-success);
  --vuiii-button-textColor--success: white;
  --vuiii-button-borderColor--success: var(--vuiii-color-success);
  --vuiii-button-ringColor--success: color-mix(in srgb, var(--vuiii-color-success) 10%, transparent);

  --vuiii-button-bgColor--success--hover: var(--vuiii-color-success--darker);

  /* ------ */
  /* Inputs */
  /* ------ */

  --vuiii-input-height: var(--vuiii-field-height);
  --vuiii-input-padding: var(--vuiii-field-padding);
  --vuiii-input-fontSize: var(--vuiii-field-fontSize);
  --vuiii-input-borderRadius: var(--vuiii-field-borderRadius);
  --vuiii-input-ringSize: var(--vuiii-field-ringSize);

  --vuiii-input-textColor: inherit;
  --vuiii-input-borderColor: var(--vuiii-field-borderColor);
  --vuiii-input-borderColor--focus: color-mix(in srgb, var(--vuiii-input-borderColor) 80%, black);
  --vuiii-input-bgColor: var(--vuiii-color-white);
  --vuiii-input-bgColor--focus: var(--vuiii-input-bgColor);
  --vuiii-input-placeholderColor: color-mix(in srgb, currentColor 50%, transparent);
  --vuiii-input-ringColor: var(--vuiii-field-ringColor);
  --vuiii-input-borderWidth: var(--vuiii-field-borderWidth);
  --vuiii-input-iconColor: color-mix(in srgb, currentColor 50%, transparent);
  --vuiii-input-shadow: 0 0;
  --vuiii-input-shadow--focus: var(--vuiii-input-shadow);
  --vuiii-input-transition: var(--vuiii-field-transition);
  --vuiii-input-opacity--disabled: var(--vuiii-field-opacity--disabled);

  /* Sizes */

  --vuiii-input-height--small: var(--vuiii-field-height--small);
  --vuiii-input-fontSize--small: var(--vuiii-field-fontSize--small);
  --vuiii-input-padding--small: var(--vuiii-field-padding--small);
  --vuiii-input-borderRadius--small: var(--vuiii-field-borderRadius--small);
  --vuiii-input-ringSize--small: var(--vuiii-field-ringSize--small);

  --vuiii-input-height--large: var(--vuiii-field-height--large);
  --vuiii-input-fontSize--large: var(--vuiii-field-fontSize--large);
  --vuiii-input-padding--large: var(--vuiii-field-padding--large);
  --vuiii-input-borderRadius--large: var(--vuiii-field-borderRadius--large);
  --vuiii-input-ringSize--large: var(--vuiii-field-ringSize--large);

  /* Validity states */

  --vuiii-input-textColor--valid: var(--vuiii-color-success);
  --vuiii-input-borderColor--valid: var(--vuiii-color-success);
  --vuiii-input-ringColor--valid: color-mix(in srgb, var(--vuiii-color-success) 10%, transparent);

  --vuiii-input-textColor--invalid: var(--vuiii-color-danger);
  --vuiii-input-borderColor--invalid: var(--vuiii-color-danger);
  --vuiii-input-ringColor--invalid: color-mix(in srgb, var(--vuiii-color-danger) 10%, transparent);

  /* ------- */
  /* Divider */
  /* ------- */

  --vuiii-divider-color: var(--vuiii-color-gray--light);
  --vuiii-divider-width: 1px;
  --vuiii-divider-margin: 1rem;

  /* ------ */
  /* Checkboxes and radios */
  /* ------ */
  --vuiii-checkbox-bgColor--checked: var(--vuiii-color-primary);
  --vuiii-checkbox-borderColor--checked: var(--vuiii-checkbox-bgColor--checked);
  --vuiii-checkbox-iconColor--checked: var(--vuiii-color-white);

  /* ----- */
  /* Icons */
  /* ----- */

  --vuiii-icon-size: 1.3rem;
  --vuiii-icon-size--small: 1.1rem;
  --vuiii-icon-size--large: 1.75rem;

  /* ----- */
  /* Table */
  /* ----- */
  --vuiii-table-fontSize: var(--vuiii-fontSize);
  --vuiii-table-dividerColor: var(--vuiii-divider-color);
  --vuiii-table-dividerWidth: var(--vuiii-divider-width);

  --vuiii-table-headBgColor: transparent;
  --vuiii-table-headTextColor: var(--vuiii-color-gray--dark);
  --vuiii-table-headDividerColor: var(--vuiii-table-dividerColor);
  --vuiii-table-headDividerWidth: var(--vuiii-table-dividerWidth);
  --vuiii-table-headFontSize: var(--vuiii-label-fontSize);
  --vuiii-table-headFontWeight: var(--vuiii-label-fontWeight);
  --vuiii-table-headTextTransform: var(--vuiii-label-textTransform);

  --vuiii-table-rowBgColor: transparent;
  --vuiii-table-rowBgColor--hover: color-mix(in srgb, var(--vuiii-color-dark) 4%, transparent);
  --vuiii-table-rowDividerColor: var(--vuiii-table-dividerColor);
  --vuiii-table-rowDividerWidth: var(--vuiii-table-dividerWidth);

  /* ------ */
  /* Dialog */
  /* ------ */

  --vuiii-dialog-title-fontSize: var(--vuiii-fontSize--x-large);
  --vuiii-dialog-title-fontWeight: inherit;
  --vuiii-dialog-title-fontFamily: inherit;
  --vuiii-dialog-bgColor: var(--vuiii-color-light);
  --vuiii-dialog-textColor: var(--vuiii-color-dark);
  --vuiii-dialog-borderRadius: var(--vuiii-button-borderRadius);
  --vuiii-dialog-boxShadow: 0 2px 10px rgb(0 0 0 / 0.1);
  --vuiii-dialog-borderColor: black;
  --vuiii-dialog-borderWidth: 1;
  --vuiii-dialog-padding: 1.5rem;
  --vuiii-dialog-dividerWidth: var(--vuiii-divider-width);
  --vuiii-dialog-dividerStyle: solid;
  --vuiii-dialog-dividerColor: var(--vuiii-divider-color);
  --vuiii-dialog-backdropBgColor: rgb(0 0 0 / 0.35);
  --vuiii-dialog-closeButton-right: 0px;
  --vuiii-dialog-closeButton-top: 0px;
  --vuiii-dialog-closeButton-size: 1.75rem;

  /* ------- */
  /* Dropdown menu */
  /* ------- */

  --vuiii-dropdownMenu-bgColor: var(--vuiii-field-bgColor);
  --vuiii-dropdownMenu-textColor: var(--vuiii-field-textColor);
  --vuiii-dropdownMenu-borderColor: var(--vuiii-field-bgColor);
  --vuiii-dropdownMenu-borderWidth: 0px;
  --vuiii-dropdownMenu-borderRadius: var(--vuiii-field-borderRadius);
  --vuiii-dropdownMenu-boxShadow: var(--vuiii-shadow--large), 0 0 1px 0 var(--vuiii-divider-color);

  --vuiii-dropdownMenu-dividerColor: var(--vuiii-divider-color);
  --vuiii-dropdownMenu-dividerWidth: var(--vuiii-divider-width);

  --vuiii-dropdownMenu-cursor-textColor: inherit;
  --vuiii-dropdownMenu-cursor-bgColor: color-mix(in srgb, var(--vuiii-color-black) 6%, transparent);

  --vuiii-dropdownMenu-button-textColor--hover: inherit;
  --vuiii-dropdownMenu-button-bgColor--hover: color-mix(in srgb, var(--vuiii-color-black) 4%, transparent);

  /* ------- */
  /* Tooltip */
  /* ------- */

  --vuiii-tooltip-bgColor: var(--vuiii-color-gray--darkest);
  --vuiii-tooltip-textColor: var(--vuiii-color-white);
  --vuiii-tooltip-fontSize: var(--vuiii-fontSize--small);
  --vuiii-tooltip-padding: 0.35em 0.65em;
  --vuiii-tooltip-borderRadius: var(--vuiii-field-borderRadius);
  --vuiii-tooltip-boxShadow: var(--vuiii-shadow);
  --vuiii-tooltip-arrowSize: 6px;
  --vuiii-tooltip-gap: 6px;

  /* ------- */
  /* Z-index */
  /* ------- */

  --vuiii-zIndex-dialog: 1000;
  --vuiii-zIndex-dropdown: 1010;
  --vuiii-zIndex-tooltip: 1020;
  --vuiii-zIndex-snackbar: 1030;
  --vuiii-zIndex-header: 10;
}

body {
  font: var(--vuiii-fontSize) var(--vuiii-typeface-body);
}
